.form-holder {
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border: solid 1px #DCEEFF;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
}

.separator {
  width: 1px;
  background-color: #DCEEFF;
  align-self: stretch;
}

.election {
  border: solid 1px #F0F5FF;
  border-radius: 10px;
}

.election-header {
  background-color: #F0F5FF;
  padding: 5px 0px;
}

.svg-icon {
  margin-right: 5px;
  filter: invert(47%) sepia(95%) saturate(1576%) hue-rotate(188deg) brightness(95%) contrast(101%);
}

.right-block {
  width: 310px;
  text-align: right;
}

.done {
  display: inline-block;
  width: 20px;
  height: 20px;
  min-width: 20px; /* Empêche l'écrasement */
  flex-shrink: 0; /* Empêche le rétrécissement dans une flexbox */
  background-color: #1c90ff;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
  vertical-align: middle;
}

.done::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* Responsive styles for mobile */
@media (max-width: 768px) {
  .right-block {
    width: 100%;
    max-width: 100%;
  }
  
  .flex-row {
    flex-direction: column;
    gap: 15px;
  }
  
  .content-between {
    align-items: flex-start !important;
  }
}

.custom-accordion-container {
  /* width: 700px; */
  margin: auto;
  border: 1px solid #e2e8f0;
  border-radius: 11px;
  margin-bottom: 20px;
  box-sizing: border-box;
}


.custom-description {
  margin: 0;
  flex: 1;
  margin-right: 20px;
}

.custom-arrow {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #2B2D67;
  font-size: 16px;
  transition: transform 0.3s ease;
  z-index: 1;
  pointer-events: auto;
  
  &.rotated {
    transform: rotate(180deg);
  }
}
