.pointer {
    cursor: pointer;
}

.light-blue {
    color: #1990FF
}

.white {
    color: #FFFFFF
}

.dark-blue {
    color: #2B2D67
}

.dark-grey {
    color: #73739A;
}

.green {
    color: #63BA67
}

.red {
    color: #EF4444;
}

.no-margin {
    margin: 0;
}

.auto-margin {
    margin: auto;
}

.center-margin {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-xxs {
    font-size: 0.750rem;
}

.text-xs {
    font-size: 0.875rem;
}

.text-sm {
    font-size: 1rem;
}

.text-md {
    font-size: 1.25rem;
}

.text-lg {
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.block {
    display: block;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.gap-10 {
    gap: 10px;
}

.grid-col-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.w-fit {
    width: fit-content;
}

.w-full {
    width: 100%;
}

.w-3quarters {
    width: 75%;
}

.w-half {
    width: 50%;
}

.w-quarter {
    width: 25%;
}