<div [ngClass]="isMobile ? 'form-holder form-holder-mob' : 'form-holder'">
  <div class="name">
    <p class="light-blue no-margin bold mb-5"><span class="light-blue mr-10">•</span>Nom du scrutin</p>
    <p class="dark-blue no-margin" style="margin-left: 15px;">{{title}}</p>
  </div>
  <div class="status flex-row gap-10 align-center">
    <img src="assets/ongoing_poll_icon.svg" width="25px" />
    <div>
      <p class="no-margin dark-grey mb-5">Statut du scrutin</p>
      <p class="no-margin dark-blue bold">{{displayedStatus}}</p>
    </div>
  </div>
</div>