<div [ngClass]="isMobile ? 'form-holder-mob' : 'form-holder'">
  <div [ngClass]="isMobile ? 'safe-area safe-area-mob' : 'safe-area'">
    <h1 id="title">{{title}}</h1>
    @for (subject of subjects; track subject; let index = $index) {
      <div class="election-informations">
        <div [ngClass]="isMobile ? 'container-answers container-answers-mob' : 'container-answers'">
          <div class="left-block block"></div>
          <div [ngClass]="isMobile ? 'right-block block mobile-block' : 'right-block block'">{{subject}}</div>
        </div>
        @for (item of displayedAnswers[index]; track item; let indexOfelement = $index) {
          <div [ngClass]="isMobile ? 'container-answers container-answers-mob' : 'container-answers'"
            >
            <div class="left-block block">{{indexOfelement + 1}}</div>
            <div [ngClass]="isMobile ? 'right-block block mobile-block' : 'right-block block'">{{item.question}}</div>
          </div>
        }
      </div>
    }
  </div>
</div>
