<div [ngClass]="isMobile ? 'form-holder form-holder-mob' : 'form-holder'">
  <div class="date">
    <h1 class="light-blue no-margin text-lg mb-10"><img src="assets/ballot-mail-icon.svg" width="23px"
        style="margin-right: 5px;" />Bulletins présents dans l'urne</h1>

    <p class="dark-blue text-sm no-margin mb-20">Cette section présente les bulletins déposés dans l’urne, sans indication
      de
      l’identité.</p>

    <div class="search-container flex-row">
      <div class="w-half">
        <div class="text-left">
          <p class="dark-blue no-margin mb-5"><img class="mr-10" src="assets/filters-icon.svg" alt="search" />Collège :</p>
        </div>

        <div>
          <select [(ngModel)]="selectedCollege" class="search-input w-full bold dark-blue">
            <option value="college1">Collège</option>
          </select>
        </div>
      </div>

      <div class="w-half">
        <div class="text-left">
          <p class="dark-blue no-margin mb-5"><span class="bold">Collez ici</span> le chiffré de votre bulletin</p>
        </div>

        <div class="input-wrapper">
          <input type="text" [(ngModel)]="searchSha" (keyup.enter)="searchForSha()" (input)="searchForSha()"
            placeholder="" class="search-input w-full dark-blue" />
          <img src="assets/search.svg" class="input-icon" alt="search" />
        </div>
      </div>
    </div>
    <div class="card">
      <p-table [value]="votesSha" [tableStyle]="{'min-width': '100%'}" [rows]="5" [paginator]="true"
        [stripedRows]="true" [first]="first">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="vote" class="header dark-blue bold">Chiffré du bulletin présent dans l'urne <p-sortIcon
                field="checkupType" /></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vote let-rowIndex="rowIndex">
          <tr
            [ngClass]="{'row-odd': rowIndex % 2 === 0, 'row-even': rowIndex % 2 !== 0, 'found-row': isFoundRow(rowIndex)}">
            <td style="word-break: break-all;" class="text-xs light-blue">{{vote.vote}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>


    <p class="dark-grey text-xs">Chaque vote correspond à un bulletin chiffré et signé, <span class="bold">stocké dans
        l'urne.</span></p>
  </div>
</div>
