@if (pollId.length > 0) {
<div [ngClass]="isMobile ? 'toolbar toolbar-mob' : 'toolbar'" role="banner">
  <div class="toolbar-content">
    <img width="330px" class="block center-margin" src="assets/ballot-shield-icon.svg" id="head-icon" />
    <h1 class="light-blue text-center">
      TRANSPARENCE DE L'URNE
    </h1>

    <!-- <vc-poll-status [title]="election.name" [status]="isDatePassed(endDate) ? 'CLOSED' : 'OPEN'"></vc-poll-status>
    <vc-poll-info [startDate]="startDateFormatted" [endDate]="endDateFormatted" [startHour]="startHour"
      [endHour]="endHour"></vc-poll-info> -->
    <!-- <vc-voters-info [totalVoters]="votersLength" [voters]="votesLenght"></vc-voters-info> -->
    <vc-ballot-info [votesSha]="votesSha" [tallySha]="tallySha" [txTallyId]="txTallyId" [votes]="votesLenght"></vc-ballot-info>
    <vc-college-info [title]="electionTitle" [subjects]="listNames" [totalVoters]="votersLength" [voters]="votesLenght"
      [pollName]="election.name" [status]="isDatePassed(endDate) ? 'CLOSED' : 'OPEN'"></vc-college-info>

  </div>
</div>
}


<router-outlet></router-outlet>