a {
    text-decoration: none;
    color: #42b883;
}
ul.list {
    list-style-type: none;
    transform: rotate(180deg);
}

ul.list > li {
    transform: rotate(-180deg);
    line-height: 1.2em;
    margin-bottom: 4px;
    background-color: #eee;
    padding: 4px;
}

.buttons-description {
    color: rgb(143, 143, 143);
    margin: 5px auto;
    font-family: Montserrat;
    width: fit-content;
    margin: auto;
    text-align: center;
}
  
.proof {
    margin-top: 0;
    line-height: 1.5em;
    margin-bottom: 1em;
    font-weight: 600;
    background-color: #2c3e50;
    color: #f2f2f2;
    padding: 8px;
    display: flex;
 }

p {
    font-family: Montserrat;
}

li {
    word-break: break-word;
}

 .valid-display {
    display: flex;
 }

 .filename {
    font-weight: 700;
 }

 .downlad-file {
    margin: 16px auto;
    height: 40px;
    border-radius: 17px;
    background-color: rgb(24,144,255);
    color: white;
    font-weight: 600;
    padding: 0 15px;
    display: flex;
    align-items: center;
 }

.explanation {
    line-height: 1.3em;
    font-size: medium;
    margin-top: 2em;
    font-weight: 600;
    background-color: #42b883;
    color: #f2f2f2;
    padding: 8px;
}

.explanation p {
    margin: 8px;
}

p {
    word-break: break-word;
}

.buttons-description-mob {
    text-align: center;
    padding: 0 20px;
    margin-top: 10px;
}

.list-mob {
    margin-left: 5px;
}

.proof-mob {
    height: 60px;
}

.proof-mobile {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.link-mobile {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.category, .number {
    margin-left: 8px;
}