<div [ngClass]="isMobile ? 'form-holder-mob' : 'form-holder'">
  <div class="date">
    <p class="dark-blue no-margin bold"><span class="light-blue mr-10">•</span>Période du scrutin</p>
    <p class="dark-blue no-margin"><span class="white mr-10">•</span>Du {{startDate}} à {{startHour}}</p>
    <p class="dark-blue no-margin"><span class="white mr-10">•</span>au {{endDate}} à {{endHour}}</p>
  </div>

  <div class="separator ml-20 mr-20"></div>

  <div class="owner">
    <p class="dark-blue no-margin bold"><span class="light-blue mr-10">•</span>Organisateur</p>
    <p class="dark-blue no-margin"><span class="white mr-10">•</span>ON SAIT PAS</p>
  </div>
  <div class="separator ml-20 mr-20"></div>
</div>