.form-holder {
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border: solid 1px #DCEEFF;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin-bottom: 10px;
}

.separator {
  width: 1px;
  background-color: #DCEEFF;
  align-self: stretch;
}

.form-holder-mob {
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
}