<!-- Toolbar -->
<div class="toolbar" role="banner" *ngIf="pollId.length > 0">
  <h1>{{election.name}}</h1>
  <p>Du {{election.start}} au {{election.end}}</p>
  <div class="questions" *ngFor="let question of questions" style="display: flex; flex-direction: row">
    <p style="margin-right: 20px;">{{question}}:</p><p>Oui - Non</p>
  </div>
  <p class="proof">Preuve: {{txPollId}} - <a href="https://goerli.etherscan.io/tx/{{txPollId}}">Vérifier sur la blockchain</a></p>
  <!-- <p class="proof">Preuve: 0x{{electionSha}} - <a href="https://goerli.etherscan.io/tx/{{txPollId}}">Vérifier sur la blockchain</a></p> -->

  <h1>Liste electorale</h1>
  <p>{{voters}} électeurs</p>
  <p class="proof">Preuve: 0x{{voterSha}} - <a href="https://goerli.etherscan.io/tx/{{txVotersId}}">Vérifier sur la blockchain</a></p>

  <h1>Urne publique</h1>
  <p>{{votes}} votes</p>
  <p class="proof">Preuve: 0x{{tallySha}} - <a href="https://goerli.etherscan.io/tx/{{txTallyId}}">Vérifier sur la blockchain</a></p>

</div>

<router-outlet></router-outlet>
