<!-- Toolbar -->
<div class="toolbar" role="banner" *ngIf="pollId.length > 0">
  <vc-poll-planned-list [title]="election.name" [subject]="subject" [displayedAnswers]="questions"></vc-poll-planned-list>
  <!-- <button class="downlad-file" (click)="downloadPoll()">Telecharger les données du scrutin</button> -->

  <p class="proof">Preuve: 0x{{electionSha}} - <a href="https://goerli.etherscan.io/tx/{{txPollId}}">Vérifier sur la blockchain</a></p>

  <h1>Liste electorale</h1>
  <p>{{votersLenght}} électeurs</p>
  <p class="proof">Preuve: 0x{{voterSha}} - <a href="https://goerli.etherscan.io/tx/{{txVotersId}}">Vérifier sur la blockchain</a></p>
  <ul class="list">
    <li *ngFor="let v of voters"><small>{{ v }}</small></li>
  </ul>

  <h1>Urne publique</h1>
  <p>{{votesLenght}} votes</p>
  <p class="proof">Preuve: 0x{{tallySha}} - <a href="https://goerli.etherscan.io/tx/{{txTallyId}}">Vérifier sur la blockchain</a></p>
  <ul class="list">
    <li *ngFor="let v of votes">
      <p>{{v}}</p>
      <!-- <p>Preuve: <a :href="tx(partialSha(i))" target="tx">0x{{ partialSha(i) }}</a></p> -->
      <!-- <p><small>électeur: {{ JSON.parse(v).signature.public_key.public_key }}</small></p> -->
    </li>
  </ul>
</div>


<router-outlet></router-outlet>
